<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezequiel.camisetas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity
            android:name="clases.pop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="clases.FinDeTiempo"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="clases.recordReloj"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="clases.popIncorrecto"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="clases.rompeRecord"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="clases.tiempoFinalizado"
            android:theme="@style/AppTheme.CustomTheme" />


        <activity android:name=".bienvenida">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modo_carrera" />
        <activity android:name=".modo_contrareloj"></activity>


            </application>

</manifest>